<button [routerLink]="['/books/form']">New Book</button>


<h2>Book Lists</h2>

<table border="1">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Pub_Date</th>
    <th>Price</th>
    <th>Rating</th>
    <th>InStock</th>
    <th colspan="3">Actions</th>
  </thead>
  <tbody *ngIf="books">
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.publication_date}}</td>
      <td>{{book.price}}</td>
      <td>{{book.rating}}</td>
      <td>{{book.in_stock}}</td>
      <td><a [routerLink]="['/books',book.id]"> Show </a></td>
      <td><button (click)="editBook(book.id)"> Edit </button></td>
      <td><button (click)="destroyBook(book.id)"> Delete </button></td>
    </tr>
  </tbody>
</table>