<table *ngIf="book">
  <tr>
    <td>ID:</td>
    <td>{{book.id}}</td>
  </tr>
  <tr>
    <td>Title:</td>
    <td>{{book.title}}</td>
  </tr>
  <tr>
    <td>Description:</td>
    <td>{{book.description}}</td>
  </tr>
  <tr>
    <td>Pulication Date:</td>
    <td>{{book.publication_date}}</td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>{{book.price}}</td>
  </tr>
  <tr>
    <td>Rating:</td>
    <td>{{book.rating}}</td>
  </tr>
  <tr>
    <td>In Stock:</td>
    <td>{{book.in_stock}}</td>
  </tr>
</table>