<form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>Title</td>
      <td>
        <input type="text" name="title" [formControl]="title">
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <textarea row="3" name="description" [formControl]="description">
        </textarea>
      </td>
    </tr>
    <tr>
      <td>Publication Date</td>
      <td>
        <input type="date" name="publication_date" [formControl]="publication_date">
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <input type="text" name="price" [formControl]="price">
      </td>
    </tr>
    <tr>
      <td>Rating</td>
      <td>
        <input type="text" name="rating" [formControl]="rating">
      </td>
    </tr>
    <tr>
      <td>In Stock</td>
      <td><input type="checkbox" name="in_stock" [formControl]="in_stock">
    </tr>
    <tr>
      <td></td>
      <td><input [disabled]="addBookForm.invalid" type="submit" value="Submit"></td>
    </tr>
  </table>
</form>